* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgb(36, 159, 163),
    rgb(88, 219, 252)
  );
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
}

#display {
  margin: 0 10px;
  height: 100px;
  width: auto;
  padding: 20px;
  max-width: 270px;
  text-align: right;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 10px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

.calculator {
  background-color: #071115;
}

.calculator #display {
  color: #f8fafb;
}

.calculator button#clear {
  background-color: #2d191e;
  color: #bd3740;
}

.calculator button.btn-number {
  background-color: #1b2f38;
  color: #f8fafb;
}

.calculator button.btn-operator {
  background-color: #304f5cc9;
  color: #c5bfbf;
}

.calculator button.btn-equal {
  background-color: #81c2c5;
  color: #030911;
}
